.preview {
    background: #F9FAFC;
    height: 1036px;

}

.preview__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:30px;
}

.preview__inner--card {
    background-color: var(--blue);
    width: calc(33.3333% - 30px);
    height: 280px;
    box-sizing: border-box;
    border-radius: 8px;
}